body {
    background-image: url("https://www.cnet.com/a/img/resize/be75693d76fa05d221c69eab339bc6b7165d9ae3/hub/2023/07/05/dbbaffb7-80be-44be-9d79-c88ac856d36a/5g6a9290.jpg?auto=webp&fit=crop&height=675&width=1200");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-size: 4rem;
    text-align: center;
    display: block;
    font-family: Rockwell;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}
#comparison {
    display: flex;
}

.container {
    background-color: rgba(114, 98, 98, 0.7);
    display: flex;
    border-radius: 1rem;
    width: 80%;
    margin-left: 10%;
    color: white;
}

.phone {
    width: 40%;
    text-align: center;
}

.vs {
    width: 20%;
    text-align: center;
}

.select {
    width: 80%;
    margin-left: 10%;
    color: white;
    margin-top: 3%;
    margin-bottom: 15%;
}

h4 {
    font-size: 2rem;
    margin-bottom: 1%;
}
a {
    color: #38d2a8;
    font-size: 1.25rem;
}

.phone-choice {
    text-align: left;
    background-color: rgba(114, 98, 98, 0.7);
    border-radius: 1rem;
}

.phone-choice h4,.phone-choice ul {
    margin-left: 20%;
}